/* Add CSS styles for your HTML elements */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

.container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Adjust this according to your layout */
    color: #ffffff; /* Change text color here */
    text-align: center;
}

/* Your content goes here */
a {
    display: block;
    margin-bottom: 15px; /* Increased margin for better spacing */
    padding: 15px 20px; /* Adjusted padding for larger button size */
    border-radius: 60px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    text-align: center;
    width: 240px; /* Increased width for larger button */
    font-size: 20px; /* Increased font size for the text */
}

a:hover {
    background-color: #0056b3;
}

p {
    font-size: 20px; /* Increased font size for paragraphs */
    margin-bottom: 20px; /* Increased margin for better spacing */
    font-weight: bold;
}
